@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
}


@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    /* Slate-200 */
    border-radius: 10px;
    transition: all 0.3s;
  }

  .dark &::-webkit-scrollbar-thumb {
    background: #1e293b;
    /* Slate-800 */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
    /* Indigo-500 */
  }

  .dark &::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
    /* Indigo-600 */
  }
}

/* Apply scrollbar globally */
@layer base {

  html,
  body {
    @apply custom-scrollbar;
  }
}

/* This allows the 'dark:' variant to work when the 'dark' class is on <html> */
@variant dark (&:where(.dark, .dark *));